.status {
  width: 21px;
  border: 1px solid;
  border-radius: 15px;
  position: relative;
  top: 1px;
}

.success {
  color: #96c896;
  background-color: #96c896;
}

.pending {
  color: yellow;
  background-color: yellow;
}

.fail {
  color: red;
  background-color: red;
}
